<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">All Payments</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nama Official</th>
              <th>Nama Sekolah</th>
              <th>Total</th>
              <th>Konfirmasi</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @payments.each do |payment| %>
            <% profile = payment.order.user.profile %>
              <tr>
                <td><%= profile.name %></td>
                <td><%= profile.school %></td>
                <td><%= format_money(payment.payment) %></td>
                <td><%= label_yes_no payment.confirmable %></td>
                <td>
                  <%= link_to 'Show', admins_payment_path(payment), class: 'btn btn-primary btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>