<div class="card-body">
  <h4 class="card-title">List Mata Lomba <%= name_page %></h4>
  <%= link_to 'MADYA', admins_list_contests_path, class: 'btn btn-primary' %>
  <%= link_to 'WIRA', list_wira_admins_list_contests_path, class: 'btn btn-warning' %>
  <%= link_to 'Tambah Mata Lomba', new_admins_list_contest_path, class: 'btn btn-success' %>
  <div class="table-responsive border rounded p-1">
    <table class="table">
      <thead>
        <tr>
          <th class="font-weight-bold">No</th>
          <th class="font-weight-bold">Mata Lomba</th>
          <th class="font-weight-bold">Type PMR</th>
          <th class="font-weight-bold">Code PMR</th>
          <th class="font-weight-bold">Kuota</th>
          <th class="font-weight-bold">Harga</th>
          <th></th>
        </tr>
      </thead>
      <%= no_table_record(list_contests, '7') %>
      <tbody>
        <% list_contests.each_with_index do |list_contest, idx| %>
          <% inventory = list_contest.inventory %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= list_contest.title %></td>
            <td><%= list_contest.type_pmr.titleize %></td>
            <td><%= list_contest.code %></td>
            <td><%= inventory.stock %></td>
            <td><%= number_to_currency(inventory.price, unit: 'Rp. ', separator: ".", precision: 0) %></td>
            <td>
              <%= link_to 'Show', admins_list_contest_path(list_contest), class: 'btn btn-primary btn-sm' %>
              <%= link_to 'Edit', edit_admins_list_contest_path(list_contest), class: 'btn btn-warning btn-sm' %>
              <%= link_to 'Delete', admins_list_contest_path(list_contest), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex mt-4 flex-wrap">
    <p class="text-muted">Showing 1 to 10 of 57 entries</p>
    <nav class="ml-auto">
      <ul class="pagination separated pagination-info">
        <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
