<div class="container">
  <h4>Pembayaran Mata Lomba</h4>
  <h4>Total : <%= format_money(@total_payments) %></h4>
  <h4>Total Sudah Bayar : <%= format_money(@total_payment_user) %></h4>
  <h4>Sisa Pembayaran : <%= format_money(@remaining_payment_user) %></h4>
  <h4>Pembayaran yang belum di confirm admin : <%= format_money(@not_confirm_payment) %></h4>
  <%= link_to 'Pembayaran', new_users_payment_path, class: 'btn btn-sm btn-success mt-3' if @calculate_all_payments >= @total_payments %>
  <div class="table-responsive">
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Jumlah</th>
          <th scope="col">Konfirmasi</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each_with_index do |payment, idx| %>
          <tr>
            <th scope="row"><%= idx + 1 %></th>
            <td><%= current_user.profile.name %></td>
            <td><%= format_money(payment.payment) %></td>
            <td><%= label_yes_no payment.confirmable %></td>
            <td><%= payment.status&.titleize %></td>
            <td><%= link_to 'Show Payment', users_payment_path(payment), class: 'btn btn-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>