<div class="container">
  <h3>Show Payment <%= current_user.profile.school %></h3>

  <div class="pt-3">
    <h4>Status:</h4>
    <h4><%= @payment.status.titleize %></h4>
  </div>

  <div class="pt-3">
    <h4>Jumlah:</h4>
    <h4><%= format_money(@payment.payment) %></h4>
  </div>

  <div class="pt-3">
    <h4>Konfirmasi:</h4>
    <h4><%= label_yes_no @payment.confirmable %></h4>
  </div>

  <% if @payment.status.eql?('reject') %>
    <div class="pt-3">
      <h4>Keterangan:</h4>
      <h4><%= @payment.reason %></h4>
    </div>
  <% end %>

  <div class="pt-3">
    <h4>Bukti Pembayaran</h4>
    <%= image_tag @payment.avatar_url, class: 'img-fluid img-thumbnail', width: 500 rescue '-' %>
  </div>

  <div class="pt-3 mb-5">
    <%= link_to 'Update Payment', edit_users_payment_path(@payment), class: 'btn btn-primary' %>
  </div>
</div>