<!-- partial:partials/_navbar.html -->
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="navbar-brand-wrapper d-flex align-items-center">
    <%= link_to '#', class: 'navbar-brand brand-logo' do %>
      <div style="color: #38ce3c;" class="font-weight-normal">AKPER VI</div>
    <% end %>
    <%= link_to '#', class: 'navbar-brand brand-logo-mini' do %>
      <%= image_tag 'images/logo-mini.svg' %>
    <% end %>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
    <h5 class="mb-0 font-weight-medium d-none d-lg-flex">AKPER VI Dashboard!</h5>
    <% show_notification = @notifications.present? ? 'show' : '' %>
    <% show_notification =  '' if ['admins/notifications'].include?params[:controller] %>
    <ul class="navbar-nav navbar-nav-right ml-auto">
      <li class="nav-item dropdown <%= show_notification %>">
        <a class="nav-link count-indicator message-dropdown" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="<%= @notifications.present? %>">
          <i class="icon-speech"></i>
          <span class="count"><%= @total_notifications %></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0 <%= show_notification %>" aria-labelledby="messageDropdown">
          <%= link_to admins_notifications_path, class: 'dropdown-item py-3' do %>
            <p class="mb-0 font-weight-medium float-left">You have <%= @total_notifications %> unread notifications</p>
            <span class="badge badge-pill badge-primary float-right">View all</span>
          <% end %>
          <div class="dropdown-divider"></div>
          <% @notifications.each do |notification| %>
            <%= link_to admins_notification_path(notification), class: 'dropdown-item preview-item' do %>
              <div class="preview-thumbnail">
                <%= image_tag 'images/faces/face10.jpg', class: 'img-sm profile-pic' %>
              </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">From <%= notification.notificationable.order.user.profile.name %></p>
                <p class="font-weight-light small-text"><%= notification.information %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <span class="font-weight-normal"> Administrator </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <%= button_to destroy_admin_session_path, method: :delete, class: 'dropdown-item' do %>
            <i class="dropdown-item-icon icon-power text-primary"></i>
            Sign Out
          <% end %>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>
<!-- partial -->