<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <%= link_to '#', class: 'nav-link' do %>
        <div class="profile-image">
          <%= image_tag 'images/faces/face8.jpg', class: 'img-xs rounded-circle' %>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">AKPER VI</p>
          <p class="designation">Administrator</p>
        </div>
      <% end %>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Dashboard</span>
    </li>
    <% homes_controller = ['admins/homes'].include?(params[:controller]) %>
    <li class="nav-item <%= homes_controller ? 'active' : '' %>">
      <%= link_to admins_homes_path, class: 'nav-link' do %>
        <span class="menu-title">Dashboard</span>
        <i class="icon-screen-desktop menu-icon"></i>
      <% end %>
    </li>
    <% list_contest_controller = ['admins/list_contests'].include?(params[:controller]) %>
    <li class="nav-item <%= list_contest_controller ? 'active' : '' %>">
      <%= link_to admins_list_contests_path, class: 'nav-link' do %>
        <span class="menu-title">Mata Lomba</span>
        <i class="icon-screen-desktop menu-icon"></i>
      <% end %>
    </li>
    <% payment_controller = ['admins/payments'].include?(params[:controller]) %>
    <li class="nav-item <%= payment_controller ? 'active' : '' %>">
      <%= link_to admins_payments_path, class: 'nav-link' do %>
        <span class="menu-title">Payments</span>
        <i class="icon-screen-desktop menu-icon"></i>
      <% end %>
    </li>
  </ul>
</nav>
