<div class="container">
  <h3>Daftar Lomba PMR <%= current_user.profile&.school&.try(:upcase) %></h3>
  <%= link_to 'Tambah Mata Loma +', new_users_contest_path, class: 'btn btn-sm btn-success' %>
  <%= link_to 'Pembayaran', users_payments_path, class: 'btn btn-sm btn-success' if current_user.contest.member_contests.present? %>
  <div class="table-responsive">
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Mata Lomba</th>
          <th scope="col">Code</th>
          <th scope="col">Tingkatan</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @member_contests.each_with_index do |member_contest, idx| %>
          <tr>
            <th scope="row"><%= idx + 1 %></th>
            <td><%= member_contest.list_contest.title %></td>
            <td><%= member_contest.code %></td>
            <td><%= member_contest.list_contest.type_pmr.titleize %></td>
            <td><%= link_to 'Show', users_member_contest_path(member_contest), class: 'btn btn-sm btn-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>